:hover{
    transition: all 1s ;
}

input:focus{
    outline: none;
    border: none;
}

body {
    font-family: Poppins;
    background: #1E252B;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}