body{
    font-family: Poppins;
    background: #1E252B;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input{
    border: none;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1224px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    height: 48px;
    margin-top: 16px;
}

.header__wrap{
    display: flex;
    align-items: center;
}

.header__logo{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: white;
    margin-right: auto;
}

.header__logo > img{
    padding-right: 21.37px;
}

.nav__list{
    display: flex;
    gap: 50px;
}

.nav__list__link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.account__list{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.account__list__log__in {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFC7;
}

.account__list__sign__up{
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: white;
    background-color: #FF6E30;
}

.hero{
    padding-top: 104px;
}

.hero__title{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0em;
    width: 600px;
    color: #FFFFFFE5;
    
}

.hero__title>span {
    color: #FF6E30;
}

.hero__description{
    width: 487px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin-top: 30px;
}

.hero__search__wrap{
    position: relative;
    display: inline-block;
    margin-top: 60px;
}

.hero__search{
    width: 440px; 
    height: 64px; 
    border-radius: 15px;
    background: linear-gradient(0deg, #283036, #283036),
                linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF61;
    padding-left: 55px;
}

.hero__search__icon{
    width: 24px; 
    height: 24px;
    position: absolute;
    top: 20px;
    left: 18px;
    z-index: 2;
}

.hero__search__button{
    background-color: tomato;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    position: absolute;
    top: 8px;
    right: 11px;
}


.hero__social__media__list{
    display: flex;
    gap: 25px;
    margin-top: 110px;
}

.hero__img{
    position: absolute;
    
}

/* TOOLS */

.tools{
    margin-top: 200px;
}

.tools__list{
    width: 100%;
    display: flex;
    row-gap: 100px;
    column-gap: 24px;
    flex-wrap: wrap;
    margin-top: 110px;
}

.tools__list__item{
    border-radius: 15px;
    background: #1E252B;
    flex-basis: calc((100% - 48px - 198px) / 3);
    transition: all 0.5s;
    padding: 33px;
    position: relative;
    overflow: hidden;
}

.tools__list__item:hover{
    transform: translateY(-20px) translateX(5px);
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
            linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
}

.tools__list__item:after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    filter: blur(60px);
    opacity: 0;
    background-color: #ff6e30;
    display: block;
    transition: 0.5s;
}

.tools__list__item:hover::after{
    opacity: 0.8;
}

.tools__item__reactions__list{
    display: inline-flex;
    gap: 12px;
}

.tools__item__visit__button{
    padding: 9px 35px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: white;
    margin-left: auto;
}

.tools__item__visit__button:hover {
    background-color: #FF6E30;;
}

.tools__load__more__button{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    border: 1px solid #FFFFFF1A;
    color: #FF6E30;
    padding: 17px 38px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.tools__load__more__button:hover {
    background-color: #FF6E30;
    color: #FFFFFF;
}

.tool__item__reactions__visit{
    display: flex;
    justify-content: space-between;
}

.tool__item__name{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFC7;
}

.tool__item__price{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFA5378C;
}

.tool__item__description{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin: 30px 0 30px 0;
}

.tool__item__name__price{
    display: inline-block;
    margin-left: 28px;
}

.reactions__item__button{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background-color: transparent;
}

.reactions__item__button:hover {
    background-color: #283036;
    box-shadow: 0px 5px 10px -3px #12121226;
}

.tool__item__logo{
    display: inline-block;
}

.tools__title{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFE5;
}

.tools__description {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF8C;
    margin-top: 25px;
    max-width: 427px;
    margin: 0 auto;
}

/* BRANDS */

.brands{
    margin-top: 200px;
}

.trusted__brands{
    position: relative;
    padding: 55px 82px;
    border-radius: 25px;
    border: 2px solid transparent;
    overflow: hidden;
    background-color: #2C353D33;
}

.trusted__brands:after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(60px);
    opacity: .8;
    background-color: #ff6e30;
}

.trusted__brands__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFCC;
    text-align: center;
}

.trusted__brands__list{
    display: flex;
    column-gap: 107px;
    margin-top: 55px;
}
/* TEAM */
.team__member__box{
    margin: 0 auto;
}

.team__member__box__img{
    display: inline-block;
    width: 400px;
    height: 500px;
}

.team__member__box__description{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    letter-spacing: 0.015em;
    color: #FFFFFFC7;
    width: 450px;
    display: inline-block
}

.team__member__box__description::before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('../img/“-decoration.png');
    position: absolute;
    top: -50px;
    left: -50px;
}

.team__navigation__buttons{
    display: flex;
    column-gap: 18px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.team__navigation__button.active{
    background-color: #FF6E30;
    height: 8px;
}

.team__navigation__button{
    width: 44px;
    height: 6px;
    background-color: #283036;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

/* JOIN */
.join__wrap{
    width: 553px;
    margin: 250px auto 240px auto;
}
.join__us__title{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.join__us__description{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF8C;
    width: 427px;
    margin: 25px auto 0 auto;
}

.join__input__wrap {
    position: relative;
    display: block;
    margin-top: 100px;
}

.join__input {
    width: 535px;
    height: 64px;
    border-radius: 15px;
    background: linear-gradient(0deg, #283036, #283036),
        linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF61;
    padding-left: 25px;
}

.join__submit__button {
    background-color: tomato;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    position: absolute;
    top: 8px;
    right: 12px;
}



.newcomer__tools{
    margin-top: 200px;
}

.newcomer__tools__wrap{
    display: flex;
}

.newcomer__tools__info__wrap{
    display: inline-block;
}

.newcomer__tools__title{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.newcomer__tools__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    width: 425px;
    margin-top: 30px;
}

.newcomer__tools__explore__more{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding: 16px 40px;
    background-color: #FF6E30;
    border-radius: 8px;
    margin-top: 60px;
}

.newcomer__tools__list{
    margin-left: auto;
    width: 600px;
    display: flex;
    row-gap: 50px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.newcomer__tools__list__item {
    border-radius: 15px;
    background: #1E252B;
    flex-basis: calc((600px - 24px - 132px) / 2);
    transition: all 0.5s;
    padding: 33px;
    position: relative;
    overflow: hidden;
}

.newcomer__tools__list__item:hover {
    transform: translateY(-20px) translateX(5px);
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
        linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
}

.newcomer__tools__list__item:after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    filter: blur(60px);
    opacity: 0;
    background-color: #ff6e30;
    display: block;
    transition: 0.5s;
}

.newcomer__tools__list__item:hover::after {
    opacity: 0.8;
}

/* FOOTER */
.footer {
    border-top: 1px solid #FFFFFF26;
}

.footer__wrap{
    display: flex;
    column-gap: 156px;
    padding: 70px 0 98px 0;
}

.footer__copyright__info{
    width: 260px;
}

.footer__copyright__info__logo{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.footer__copyright__info__copyright{
    color: #FFFFFFE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    margin-top: 25px;
}

.footer__copyright__info__description{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin-top: 21px;
}

.footer__info__wraps{
    display: flex;
    column-gap: 115px;
}

.footer__info__wrap__title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.footer__info__wrap__list{
    margin-top: 20px;
}

.footer__info__wrap__item__link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin-bottom: 10px;
}